.winjet {
	--theme-bg-color: #383838;
	--theme-text-color: #d3d3d3;
	--border-width: 2px; /* an even number is preffered */
	--border-radius: 4px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.winjet.maximized {
	padding: 50px;
}

.winjet-body-container {
	flex-grow: 1;
	border: var(--border-width) solid var(--theme-bg-color);
	border-top: 0 none;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.winjet-body-container.no-header {
	border: 1px solid var(--theme-bg-color);
	border-radius: var(--border-radius);
	margin-top: calc(var(--border-width) / 2 * -1); /* -1 to compensate half of the border (2px) */
	padding-left: calc(var(--border-width) / 2);    /* 1 to compensate half of the border (2px) */
}

/* Drag grip handle cursors */
.winjet .drag-grip-handle { cursor: grab; }
.winjet .drag-grip-handle:active { cursor: grabbing; }
.winjet.drag-disabled .drag-grip-handle { cursor: default; }

/* Default Header */
/*	You can remove everything below this point if you only use custom headers */
.winjet-default-header {
	height: 32px;
	display: flex;
	align-items: center;
	padding: 0 4px;
	background-color: var(--theme-bg-color);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.minimized .winjet-default-header {
	border-radius: var(--border-radius);
}

.winjet-title {
	display: flex;
	align-items: center;
	flex-grow: 1;
	height: 100%;
	margin-right: 5px;
	padding-left: 6px;
	font-weight: bold;
	color: var(--theme-text-color);
}

.winjet-action-buttons {
	display: flex;
	align-items: center;
	height: 100%;
	user-select: none;
}

.winjet-button {
	width: 24px;
	height: 24px;
	color: var(--theme-text-color);
	cursor: pointer;
	font-size: 15px;
	line-height: 1;
	background-color: var(--theme-bg-color);
	outline: 0 none;
	border: 0 none;
	padding: 0;
}

.winjet-button:hover {
	color: #fff;
    background-color: #847575;
}

.winjet-button-active {
	background-color: #5a5a5a;
    color: #efefef;
}

.winjet-minimize-button,
.winjet-maximize-button {
	padding-bottom: 3px;
}
