.widget {
	--base-color: #383838;
	--border-width: 2px;
	--border-radius: 4px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.widget .top-left-grip {
	cursor: nw-resize;
}
.widget .top-right-grip {
	cursor: ne-resize;
}
.widget .bottom-right-grip {
	cursor: se-resize;
}
.widget .bottom-left-grip {
	cursor: sw-resize;
}

.widget.maximized {
	padding: 50px;
}

.widget-body-container {
	flex-grow: 1;
	border: var(--border-width) solid var(--base-color);
	border-top: 0 none;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.widget-body-container.no-header {
	border: 1px solid var(--base-color);
	border-radius: var(--border-radius);
	margin-top: calc(var(--border-width) / 2 * -1); /* -1 to compensate half of the border (2px) */
	padding-left: calc(var(--border-width) / 2);    /* 1 to compensate half of the border (2px) */
}

.widget-default-header {
	height: 32px;
	display: flex;
	align-items: center;
	padding: 0 4px;
	background-color: var(--base-color);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	/* border-bottom: 1px solid #d3d3d3; */
}

.widget.minimized .widget-default-header {
	border-radius: 4px;
}

.widget-title {
	display: flex;
	align-items: center;
	flex-grow: 1;
	height: 100%;
	margin-right: 5px;
	padding-left: 6px;
	cursor: grab;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #d3d3d3;
}

.drag-disabled .widget-title {
	cursor: default;
}

.widget-action-buttons {
	display: flex;
	align-items: center;
	height: 100%;
	user-select: none;
}

.widget-button {
	width: 18px;
	max-height: 28px;
	color: #d3d3d3;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
	background-color: #0000;
	outline: 0 none;
	border: 0 none;
	padding: 0;
}

.widget-button:hover {
	color: #ededed;
}

.widget-maximize-button.widget-button-active,
.widget-minimize-button {
	padding-bottom: 3px;
}
