.widget {
	display: flex;
	flex-direction: column;
	width: 250px;
	position: absolute;
	top: 150px;
	left: 250px;
	box-sizing: border-box;
	/* opacity: 0.5; */
}

/* .widget:hover {
	opacity: 1;
} */

.widget.maximized {
	width: 100% !important;
	height: 100% !important;
	padding: 50px;
	top: 0 !important;
	left: 0 !important;
}

.widget.minimized .widget-body-container {
	display: none;
}

.widget-header {
	height: 32px;
	display: flex;
	align-items: center;
	padding: 0 4px;
	background-color: #383838;
	border-radius: 4px 4px 0 0;
	/* border-bottom: 1px solid #d3d3d3; */
}

.widget.minimized .widget-header {
	border-radius: 4px;
}

.widget-title {
	display: flex;
	align-items: center;
	flex-grow: 1;
	height: 100%;
	margin-right: 5px;
	padding-left: 6px;
	cursor: grab;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #d3d3d3;
}

.drag-disabled .widget-title {
	cursor: default;
}

.widget-action-buttons {
	display: flex;
	align-items: center;
	height: 100%;
	user-select: none;
}

.widget-button {
	width: 18px;
	max-height: 28px;
	color: #d3d3d3;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
	background-color: #0000;
	outline: 0 none;
	border: 0 none;
	padding: 0;
}

.widget-button:hover {
	color: #ededed;
}

.widget-maximize-button.widget-button-active,
.widget-minimize-button {
	padding-bottom: 3px;
}

.widget-body-container {
	height: 100%;
	min-height: 52px;
	width: 100%;
	border: 2px solid #383838;
	border-top: 0 none;
	box-sizing: border-box;
	border-radius: 0 0 4px 4px;
	font-family: arial;
	font-size: 14px;
	flex-grow: 1;
}

.widget-body-container.no-header {
	border: 1px solid #383838;
	margin-top: -1px; /* 1 because of border */
	padding-left: 1px; /* 1 because of border */
	border-radius: 3px;
	box-sizing: border-box;
}

.widget .top-left-grip {
	cursor: nw-resize;
}
.widget .top-right-grip {
	cursor: ne-resize;
}
.widget .bottom-right-grip {
	cursor: se-resize;
}
.widget .bottom-left-grip {
	cursor: sw-resize;
}
